<h1>
    Patienten
</h1>

<div class="row flex-items-xs-center">
    <div class="card-group">

        <div class="hidden-xs-down col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <a href="/patients/add">
                    <img class="card-img"
                         src="http://iconshow.me/media/images/ui/ios7-icons/png/512/plus-empty.png"
                         alt="Patient hinzufügen">
                </a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-xs-center">
                <img class="card-img"
                     src="http://placekitten.com/g/500/500"
                     alt="Card image cap">
                <div class="card-img-overlay">
                    <h4 class="card-header">Max (gesund)</h4>
                    <ul class="list-group list-group-flush">
                        <a href="/patients/12"><li class="list-group-item">Anzeigen</li></a>
                        <a href="/patients/12"><li class="list-group-item">Neuer Fall anlegen</li></a>
                        <li class="list-group-item">Letzter Fall: 23.5.2016</li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-xs-center">
                <img class="card-img"
                     src="http://placekitten.com/g/500/500"
                     alt="Card image cap">
                <div class="card-img-overlay">
                    <h4 class="card-header">Moritz (krank)</h4>
                    <ul class="list-group list-group-flush">
                        <a href="/patients/14"><li class="list-group-item">Anzeigen</li></a>
                        <a href="/patients/14/case/1/event/add"><li class="list-group-item">Event hinzufügen</li></a>
                        <li class="list-group-item">Fieber: 39.2</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>



<!--
<div class="card-deck-wrapper">
    <div class="card-deck">
        <div class="card card-inverse">
            <img class="card-img-top" src="http://placekitten.com/g/200/200" alt="Card image cap">
            <div class="card-img-overlay">
                <h4 class="card-title">Moritz</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card card-inverse">
            <img class="card-img-top" src="http://placekitten.com/g/200/200" alt="Card image cap">
            <div class="card-img-overlay">
                <h4 class="card-title">Moritz</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card card-inverse">
            <img class="card-img-top" src="http://placekitten.com/g/200/200" alt="Card image cap">
            <div class="card-img-overlay">
                <h4 class="card-title">Moritz</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
-->