<h1>Patienten</h1>

<div class="row">
    <div class="hidden-xs-down col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <a href="/patients/add">
                <img class="card-img"
                     src="http://iconshow.me/media/images/ui/ios7-icons/png/512/plus-empty.png"
                     alt="Patient hinzufügen">
            </a>
        </div>
    </div>

    <div *ngFor="let patient of patients|async" class="col-sm-6 col-md-4 col-lg-3">
        <div class="card card-outline-success text-xs-center" (click)="showPatient(patient.$key)">

            <h4 class="card-header">{{patient.name}}</h4>

            <div>
                <a href="/{{route}}/{{patient.$key}}">Anzeigen</a>
            </div>

            <div>
                <a href="/{{route}}/{{patient.$key}}/cases/add">
                    Krankheitsverlauf anlegen
                </a>
            </div>

            <div>
                Letzter Fall:
            </div>

            <div class="card-footer"></div>
        </div>
    </div>

</div>
<br><br>


<ul>
    <li *ngFor="let patient of patients | async">
        <input type="text" #updatetext [value]="patient.name"/>
        <button (click)="updatePatient(patient.$key, updatetext.value)">Update</button>
        <button (click)="deletePatient(patient.$key)">Delete</button>
    </li>
</ul>

<input type="text" #newitem/>
<button (click)="addPatient(newitem.value)">Add</button>
<button (click)="deletePatientAll()">Delete All</button>
<hr>

<!--<h2>Example: Health State colorized</h2>-->
<div class="row">
    <div class="hidden-xs-down col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <a href="/patients/add">
                <img class="card-img"
                     src="http://iconshow.me/media/images/ui/ios7-icons/png/512/plus-empty.png"
                     alt="Patient hinzufügen">
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card card-outline-success text-xs-center">
            <div>
                <h4 class="card-header">Max</h4>
                <div>
                    <a href="/patients/14">
                        Anzeigen
                    </a>
                </div>
                <div>
                    <a href="/patients/14/case/add">
                        Krankheitsverlauf anlegen
                    </a>
                </div>
                <div>
                    Letzter Fall: 23.5.2016
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card card-outline-danger text-xs-center">
            <div>
                <h4 class="card-header">Donald</h4>
                <div>
                    <a href="/patients/14">
                        Anzeigen
                    </a>
                </div>
                <div>
                    <a href="/patients/14/case/1/event/add">
                        Vorkommnis hinzufügen
                    </a>
                </div>
                <div>
                    Fieber: 45&deg;C
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card card-outline-warning text-xs-center">
            <div>
                <h4 class="card-header">Hillary</h4>
                <div>
                    <a href="/patients/14">
                        Anzeigen
                    </a>
                </div>
                <div>
                    <a href="/patients/14/case/1/event/add">
                        Vorkommnis hinzufügen
                    </a>
                </div>
                <div>
                    Fieber: 39.2&deg;C
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>
<br><br>

<!--
<h2>Witch Pictures</h2>
<div class="row flex-items-xs-center">
    <div class="hidden-xs-down col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <a href="/patients/add">
                <img class="card-img"
                     src="http://iconshow.me/media/images/ui/ios7-icons/png/512/plus-empty.png"
                     alt="Patient hinzufügen">
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card text-xs-center">
            <img class="card-img"
                 src="http://placekitten.com/g/500/500"
                 alt="Card image cap">

            <div class="card-img-overlay">
                <h4 class="card-header">Max (gesund)</h4>
                <ul class="list-group list-group-flush">
                    <a href="/patients/12">
                        <li class="list-group-item">Anzeigen</li>
                    </a>
                    <a href="/patients/12">
                        <li class="list-group-item">Neuer Fall anlegen</li>
                    </a>
                    <li class="list-group-item">Letzter Fall: 23.5.2016</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card text-xs-center">
            <img class="card-img"
                 src="http://placekitten.com/g/500/500"
                 alt="Card image cap">

            <div class="card-img-overlay">
                <h4 class="card-header">Moritz (krank)</h4>
                <ul class="list-group list-group-flush">
                    <a href="/patients/14">
                        <li class="list-group-item">Anzeigen</li>
                    </a>
                    <a href="/patients/14/case/1/event/add">
                        <li class="list-group-item">Event hinzufügen</li>
                    </a>
                    <li class="list-group-item">Fieber: 39.2</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card card-outline-warning text-xs-center">
            <div class="card-block">
                <h4 class="card-header">Stefan (krank)</h4>
                <ul class="list-group list-group-flush">
                    <a href="/patients/4">
                        <li class="list-group-item">Anzeigen</li>
                    </a>
                    <a href="/patients/4/case/1/event/add">
                        <li class="list-group-item">Event hinzufügen</li>
                    </a>
                    <li class="list-group-item">Fieber: 39.2</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br><br>
-->

<!--
<h2>Example: Card-Deck</h2>
<div class="card-deck-wrapper">
    <div class="card-deck">

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="http://placekitten.com/g/400/200" alt="Card image cap">
                <div class="card-img-overlay">
                    <h4 class="card-title">Moritz</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="http://placekitten.com/g/200/200" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Moritz</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's contentSome quick example text to build on the card title and make up the bulk of the
                        card's contentSome quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="http://placekitten.com/g/200/300" alt="Card image cap">
                <div class="card-img-overlay">
                    <h4 class="card-title">Moritz</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
</div>
-->
